# Created by https://www.gitignore.io/api/sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
src/main/resources/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

.idea

# End of https://www.gitignore.io/api/sbt,scala

### Ensime ###

.ensime
.ensime_cache

